@import 'assets/style/px2rem.scss';
.fake-input-box{
    height: 100%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
    -webkit-touch-callout:none ;
    -webkit-text-size-adjust:none ;
    -webkit-tap-highlight-color:transparent ;
    -webkit-user-select:none ;
    .label{
      display: flex;
      align-items: center;
      font-size: px2rem(16);
    }
    .extra{
      height: px2rem(30);
      display: flex;
      align-items: center;
      font-size: px2rem(14);
      color: #DDDDDD;
    }
    .fake-input-content{
        height: px2rem(30);
        flex: 1;
        align-items: center;
        position: relative;
        text-align: left;
        font-size: px2rem(16);
        .fake-input-placeholder{
          width: 100%;
          height: 100%;
          display: flex;
          color: #999999;
          align-items: center;
          position: absolute;
          left: 0;
          top: 0;
        }
        .fake-input{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
        }
        .focus:after{
          content: "";
          position: relative;
          right: 0;
          top: 0;
          height: 70%;
          border-right: px2rem(2) solid #108ee9;
          -webkit-animation: keyboard-cursor infinite 1s step-start;
          animation: keyboard-cursor infinite 1s step-start;
        }
    }
}
@keyframes keyboard-cursor {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
